/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}


/* Start of Food Card  */

.container4 {
  border: 3.0px solid rgba(37, 47, 73, 1);
  -webkit-box-shadow: 0px 0px 20px 1px rgb(240, 239, 238);
  -moz-box-shadow: 0px 0px 20px 1px rgb(240, 239, 238);
  box-shadow: 0px 0px 20px 1px rgb(240, 239, 238);
  padding: 2rem;
  background-color: pink;
}


.readBtn {
  background-color: rgb(7, 4, 20);
  border: 3.5px solid rgb(7, 4, 20);
  -webkit-box-shadow: 0px 0px 20px 1px rgb(7, 4, 20);
  -moz-box-shadow: 0px 0px 20px 1px rgb(7, 4, 20);
  box-shadow: 0px 0px 20px 1px rgb(7, 4, 20);
  padding: 0.188rem 0.375rem;
}

.readBtn:hover {
  background-color: rgb(161, 11, 11);
  border: 3.5px solid rgb(161, 11, 11);
  font-weight: bold;
}

.fa-heart:hover,
.fa-share:hover {
  color: rgb(161, 11, 11);
}

a {
  color: black;
}

.hiddenPara {
  width: 100%;
  line-height: 2rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.activePara {
  width: 100%;
  line-height: 2rem;
  max-height: fit-content;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
}

.active {
  color: rgb(161, 11, 11);
}

.hidden {
  color: black;
}

span {
  font-size: 1rem;
  padding: 0.4rem;
}

/* End of Food Card */


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/*
 * Base structure
 */
#body {
  /* height: 100%; */
  background-color:  #D5E3F0;
}
#body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
 
}
/*
 * Base structure
 */
 html,
body {
  height: 100%;
  background-color: #D5E3F0;
}



/*
 * Header
 */
 .masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.cover-container {
  max-width: 42em;
}


 /* * Cover
 */ 
  .cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
} 

#gif {
  height: 125px;
}
#nutritionsheet{
height: 600px;
}



#cards-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card{
  color: black;
}



